body {
    background-color: #08415c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1, h2 {
    text-align: center;
    color: #6B818C;
}

.body-contenedor {
background-color: #EEE5E9;
margin: 50px 100px;
padding: 40px 100px;
border: 10px #cc2936;
}


.portada {
width: 300px;
height: 300px;
display: block;
}