body {
    background-color: #2E6171;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#portada {
    height: 450px;
    width: 450px;
    vertical-align: middle;
    display: flexbox;

}